/*Kizy Matzenbacher
06/18/2022*/
/* body background color */
body {
  background-image: url("../images/pink.jpg");
}
/* background color top navigation */
.topnav {
  background-color: rgba(47, 23, 15, 0.9);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* active class highlight the current page */
.topnav a.active {
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: #b76e79;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
